/* adm style */
body{
    position: relative;
}
.top-menu{
    background-color: black;
    width: 100%;
    float: left;
}
.top-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-menu ul li{
    float: left;
}
.top-menu ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.top-menu ul li a:hover{
    color: yellow;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table tr th{
    background-color: grey;
    color:black;
    border: 1px solid black;
}
/* start pop up form */
.pop-frm{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    right: 0;
    transition:0.5s;
}
.close-frm{
    width: auto;
    float: right;
    margin: 10px;
    opacity: 0.8;
}
.close-frm i{
    font-size: 1.5rem;
    cursor: pointer;
}
.close-frm:hover{
   opacity: 1;
}
/* close pop up frm */
/* start post frm */
.post-frm{
    width: 500px;
    background-color:white;
    border:1px solid #ccc;
    margin:auto;
    margin-top:20px;
    border-radius: 5px;
    display: none;
}
.box-img{
    width: 100px;
    height: 100px;
    border:1px solid #ccc;
    background-image: url('../img/page/bg-default-.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-img input{
    width:100px;
    height: 100px;
    opacity: 0;
    cursor: pointer;
}
/* end post frm */