body{
    margin: 0;
    padding: 0;
    background:whitesmoke;
	font-family: 'Angkor', 'Battambang',Tahoma, Geneva, Verdana, sans-serif;
}
h4,p{
	margin:0;
	padding-top: 0;
	font-family: 'Battambang',sans-serif;
	font-size: 1.3rem;
}
.container-fluid{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 990px;
    max-width:90%;
    margin: auto;
    overflow: hidden;
}
/* start header style */
.header{
    width: 100%;
    float: left;
    position: relative;
}
.top-banner{
    max-width: 100%;
}
.logo-wrapper{
    width: 70px;
}
.logo-wrapper img{
    width: 100%;
}
.bg-red{
    background-color:rgb(230,57,66)
}
.bg-black{
    background-color: black;
}
/* start menu style*/
.menu-wrapper{
    float: left;
    width: 100%;
    display: block;
}
.menu-wrapper ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-wrapper ul li{
    float: left;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
}
.menu-wrapper ul li a{
    display: block;
    text-decoration:none;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.8;
}
.menu-wrapper ul li:hover a{
    opacity: 1;
}   
a:not([href]):not([tabindex]) {
    color: white;
    /* text-decoration: none; */
}
.menu-wrapper ul li:first-child{
    background: #C82D26;
}
/* end menu style*/
.btn-menu{
    /* float:right; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 5px 10px;
    margin-top:10px;
    cursor: pointer;
    position: absolute;
    top:5px;
    right: 10px;
    z-index: 10;
    display: none;
}
.btn-menu:hover .menu-div{
    background-color: #C82D26;
}
.menu-div{
    width: 25px;
    height: 2px;
    border-radius: 3px;
    background-color: #C82D26;
    margin: 6px 0;
}
/* start content style */
.content-card{
    background-color:white;
    border:1px solid #ccc;
    width:90% !important;
    max-width: 90%;
    padding:5%;
    float:left;
    margin-top:10px; 
    margin-bottom:10px;
}
.box-shadow{
    box-shadow: 1px 3px 3px 1px #ccc;
}
.content{
    width: 100%;
    float: left;
}
.wrapper-box-9{
    width:70%;
    float: left;
}
.wrapper-box-des{
    width:70%;
    float: left;
}
.wrapper-box-3{
    width:30%;
    float: left;
}
.wrapper-box-content{
    width:100%;
    float: left;
}
.wrapper-box-content-3{
    width:30%;
    float: left;
    overflow: hidden;
}
.news-img{
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
}
.news-box{
    width:96%;padding:2%;background:white;float:left;margin-top:5px;
}
.news-box:hover{
    opacity: 0.9;
    cursor: pointer;
    transition: 0.5s;
}
.bg-content{
    background-color: white;
    box-shadow: black;
}
.content-img-wrapper{
    margin-top:10px;
    margin-bottom:10px;
    float: left;
    width:100%;
    padding-top:15px;
    padding-bottom: 15px;
}
.content-img-wrapper center img{
    max-width:90%;
    object-fit: cover;
}
.content-des{
    width: 100% !important;
    float: left;
}
.content-des p{
    font-family: 'Battambang',serif;
    opacity: 0.8;
}
.content-des p{
    font-size: 16px;
}
.content-title{
    width: 100%;
    float: left;
}
.content-title h1{
    font-size:19px;
}
.content-view{
    width:100%;
    float: left;
}
.content-view p{
    opacity:0.7;font-size:12px;font-family:'Angkor';margin-bottom:10px; 
}
.wrapper-des{
    width:96%;
    padding:2%;
    padding-bottom: 0;
}
.wrapper-des a{
    display: block;
    text-decoration: none;
    color:black;
    opacity: 0.8;
}
.wrapper-des a:hover{
    opacity: 1;
}
.wrapper-des p{
    font-size: 16px;
}
.wrapper-ads{
    width: 94%;
    padding:3%;
    padding-top:2%; 
}
/* Medium devices (landscape tablets,992px and Down) */
@media only screen and (max-width: 992px){
	
	.btn-menu{
        display: block;
        transition: 0.3s;
    }
    .logo-wrapper{
        margin-left:10px;
    }
	/* start nav bar menu */
	.menu-wrapper{
		border-top: 1px solid rgba(11, 80, 14,0.5);
		width: 100%;
		padding-bottom: 20px;
        display: none;
        position: absolute;
        top:70px;
        right: 0;
        z-index: 1000;
        background:black;
	}
	.menu-wrapper ul{
		width: 100%;
	}
	.menu-wrapper ul li{
		width:100%;
		padding: 20px 20px;    
		cursor: pointer;
	}
	h1{
		font-size: 1.2rem;
	}
	h4{
		font-size: 0.9rem;
    }
    .wrapper-box-content,.wrapper-box-content-3,.bg-news,.wrapper-box-9{
        min-width:100%;
    }
	.wrapper-ads{
        width: 46%;
        padding-top:2%;
        margin: auto; 
    }
	/* end nav bar menu */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.menu-wrapper{
        display: block;
    }
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bg-content{
        background-color: white;
        box-shadow: black;
    }
    .content-img-wrapper{
        margin-top:10px;
        margin-bottom:10px;
        float: left;
        max-width:100%;
        padding-top:15px;
        padding-bottom: 15px;
    }
    .content-img-wrapper img{
        width:100%;
    }
    .content-des{
        width: 100%;
        float: left;
        opacity: 0.9;
        font-family: 'Angkor',serif;
    }
    .content-des p{
        font-size: 16px;
    }
    .content-title{
        font-size:19px;
    }
    .content-view{
        opacity:0.7;font-size:12px;font-family:'Angkor';float:left;margin-bottom:10px; 
    }
	
}
